#canvas {
	float : left;
	border :1px solid black;
}
#input {
	font-size: 14px;
	font-family: 'Monaco','Menlo','Ubuntu Mono','Droid Sans Mono','Consolas',monospace;
	float : left;
	margin-left : 30px;
	resize : none;
}
#output {
	font-size : 16px;
	font-family: 'Monaco','Menlo','Ubuntu Mono','Droid Sans Mono','Consolas',monospace;
	margin-left : 30px;
	resize : none;
}
