html, body {
	height: 99.4%;
}
.first-half,.second-half {
	width: 49.2% !important;
	float: left;
	position: relative;
	height: 100%;
}
.first-half {
	margin-left: 0.5%;
}
#input {
	font-size: 14px;
	font-family: 'Monaco','Menlo','Ubuntu Mono','Droid Sans Mono','Consolas',monospace;
	resize : none;
}
#output {
	background: white !important;
}

.CodeMirror {
	position: absolute;
	top: 0;
}

.second-half {
	background: #eee8d5;
	padding-bottom: 10px;
	border-left: 1px solid black;
}

.out {
	position: relative;
}

#clear_btn {
	position: absolute;
	bottom: 1em;
	opacity: 0;
	right: 1em;
	margin: 0;
}
#clear_btn:hover {
	opacity: 1;
}

#eval_btn {
	margin-left: 1em;
}

#output {
	width : 100%;
	position: absolute;
	border:none;
	height: 180px;
	bottom: 0;
	font-size : 16px;
	font-family: 'Monaco','Menlo','Ubuntu Mono','Droid Sans Mono','Consolas',monospace;
	resize : none;
}
h1 em, i {
	font-family: georgia, garamond sans-serif;
	font-style: normal;
	font-weight: normal;
}
h1 em {
	color: #1ab;
}

.plus {
	color: #ccc;
	font-weight: normal;
}

h1 i {
	color: #b1a;
}

.controls {
	position: absolute;
	bottom: 1em;
	right: 1em;
	left: 1em;
	z-index: 9;
}